.login-wrap {
  min-height: 100vh;
  background: #ECEAE4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 이거 걍 이미지로 바꿀거임 나중에 */
.login-logo {
  display: block;
  width: 200px;   /* 로고 이미지 너비 */
  margin: 0 auto 38px;
}
/**/
/**/
/**/
/**/


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 360px;
  max-width: 90vw;
}

.login-input {
  width: 100%;
  padding: 20px 0 20px 30px;
  border: none;
  border-radius: 36px;
  background: #fff;
  font-size: 22px;
  color: #71695b;
  margin-bottom: 0;
  outline: none;
  box-sizing: border-box;
  font-family: inherit;
}

.login-input::placeholder {
  color: #71695b;
  opacity: 0.8;
  font-weight: 500;
  letter-spacing: -1px;
}

.login-btn {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 36px;
  background: #71695b;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 6px;
  font-family: inherit;
  letter-spacing: 2px;
  transition: background 0.2s;
}

.login-btn:hover {
  background: #4e483f;
}

.login-register {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.login-register a {
  color: #71695b;
  text-decoration: none;
  font-weight: 400;
  transition: text-decoration 0.2s;
}

.login-register a:hover {
  text-decoration: underline;
}
