.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #716A5C;

  font-family: 'Katibeh', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1rem;
  height: 60px; /* 로고 크기에 맞게 조정 */
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;  
}

.nav-logo {
  font-size: 3rem;
  font-weight: bold;
  color: #F9F8F6;
  text-decoration: none;
  margin-top: -10px
}

.nav-item {
  margin-left: 4rem;
  font-size: 2rem;
  color: #F9F8F6;
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover, .nav-logo:hover {
  color:#C3BCA3;
}

.nav-logo-img {
  height: 70px;         /* 필요시 100px로 키우기 가능 */
  object-fit: contain;
  margin-top: 27px;
}

.nav-user-wrapper {
  position: relative;
}

.dropdown-box {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  width: 180px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-nickname-row {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.dropdown-email {
  font-size: 0.9rem;
  color: #666;
}

.dropdown-logout {
  background-color: #DF924E;
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
}
